.topicos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
  margin-bottom: 50rem;

  & a {
    text-decoration: none;
    color: #000;
    transition: transform 0.3s ease;
  }

  & a:hover {
    transform: scale(1.05);
  }
}

.topico {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}

.topico img {
  width: 20rem;
  height: 20rem;
}

.topico p {
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

.d p {
  padding: 10px;
}

