.topicos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 50rem;
  max-width: 100%;
  

  & a {
    text-decoration: none;
    color: #000;
    transition: transform 0.3s ease;
  }

  & a:hover {
    transform: scale(1.05);
  }
}
.hamburguer {
  display: none;
}

.topico {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}

.topico img {
  width: 15rem;
  height: 15rem;
}

.topico p {
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

.d p {
  padding: 10px;
}

@media (max-width: 1024px) {
  .topicos {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2rem; 
    max-width: 50%;
    margin-top: 2rem;
  }
}

@media (max-width: 800px) {
  .menu {
    display: none;
  }

  .hamburguer {
    display: flex;
    margin-right: 3rem;
    width: 4rem;
  }

  .titulo {
    font-size: 4.8rem; 
  }

  .texto-titulo {
    font-size: 1.8rem; 
  }
}

@media (max-width: 480px) {
  .topicos {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem; 
    max-width: 50%;
    margin-top: 2rem;
  }
  .topico img {
    width: 12rem;
    height: 12rem;
  }

  .topico p {
    text-align: center;
    font-weight: bold;
    padding: 1.5rem 1rem;
  }

  .d p {
    padding: 0.5rem 1rem;
  }

  .hero-content {
    margin-top: 3rem;
    margin-left:2rem;
  }

  .titulo {
    font-size: 4rem; /* Telas muito pequenas */
  }

  .texto-titulo {
    font-size: 1.6rem;
  }
}
  